<div class="top-image">
    <img src="../images/single-page-top2.jpg" alt="" />
</div><!-- Page Top Image -->

<section class="inner-page">
    <div class="container">
        <div class="page-title">
            <h1>My <span>Cart</span></h1>
        </div><!-- Page Title -->
        <div class="row">
            <div class="left-content col-md-9">

                <div class="cart-table">
                    <div class="cart-head">
                        <h2 class="product">Product</h2>
                        <h2 class="price">Price</h2>
                        <h2 class="quantity">Quantity</h2>
                        <h2 class="total">Total</h2>
                    </div>
                    <ul>
                        <li>
                            <div class="product">
                                <a href="#" title=""><i class="icon-remove"></i></a>
                                <h6>Shoes</h6>
                                <!--<img src="../images/cart-thumb.jpg" alt="" />-->
                            </div>
                            <div class="price">
                                <h6>$225</h6>
                            </div>
                            <div class="quantity">
                                <select class="styled">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                </select>
                            </div>

                            <div class="total">
                                <h6>$225</h6>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <a href="#" title=""><i class="icon-remove"></i></a>
                                <h6>Shoes</h6>
                                <!--<img src="../images/cart-thumb.jpg" alt="" />-->
                            </div>
                            <div class="price">
                                <h6>$225</h6>
                            </div>
                            <div class="quantity">
                                <select class="styled">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option>10</option>

                                </select>
                            </div>

                            <div class="total">
                                <h6>$225</h6>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <a href="#" title=""><i class="icon-remove"></i></a>
                                <h6>Shoes</h6>
                                <!--<img src="..images/cart-thumb.jpg" alt="" />-->
                            </div>
                            <div class="price">
                                <h6>$225</h6>
                            </div>
                            <div class="quantity">
                                <select class="styled">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option>10</option>
                                </select>
                            </div>

                            <div class="total">
                                <h6>$225</h6>
                            </div>
                        </li>
                        <li>
                            <a class="cart-btn pull-right" href="checkout.html" title="">Proceed To Checkout</a>
                            <a class="cart-btn pull-right" href="#" title="">Update Cart</a>
                        </li>
                    </ul>
                </div>

                <div class="cart-total cart-table">
                    <div class="cart-head">
                        <h2>Cart Total</h2>
                    </div>
                    <ul>
                        <li><p>Cart Subtotal</p><span>$335</span></li>
                        <li><p>Shipping </p><span>Free Shipping</span></li>
                        <li><p>Order Total</p><span>$335</span></li>
                    </ul>
                </div>



            </div>

        </div>
    </div>


</section>