<div class="top-image">
    <img src="<?php echo base_url();?>assets/images/single-page-top2.jpg" alt="" />
</div>

<div class="inner-page">
    <div class="container">
        <div class="page-title">
            <h1>Checkout <span>Page</span></h1>
        </div>
        <div class="row">
            <div class="left-content col-md-9">
                <div class="accordions">
                    <div class="accordion_toggle"><a href="#"><span><i class="icon-info-sign"></i></span>Returning Customer? Click here to Log in.</a></div>
                    <div class="accordion_content" style="display: block;">
                        <div class="login">
                            <p style="font-size: 16px;">If you have shopped with us before, log in below.</p>
                            <div class="row">
                                <div class="col-md-6 co-form half-field">
                                    <label>Username or email <span>*</span></label>
                                    <input type="text" class="form-control input-field">
                                </div>
                                <div class="col-md-6 co-form half-field">
                                    <label>Password<span>*</span></label>
                                    <input type="password" class="form-control input-field">
                                </div>
                            </div>
                            <input type="submit" class="cart-btn pull-left" value="Login">
                        </div>
                    </div>
                    <div class="accordion_toggle"><a href="#"><span><i class="icon-info-sign"></i></span>First Time Shopper? Click here to Sign up for free</a></div>
                    <div class="accordion_content" style="display: block;">
                        <div class="login">
                            <p style="font-size: 16px;">Please Create an account with us...it is absolutely free! Having an account makes it easier for us to serve you better.</p>
                            <div class="row">
                                <div class="col-md-6 co-form half-field">
                                    <a class="header-btn" href="register.html" title="">SIGN UP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="block">
                        <div class="billing">
                            <h3 class="sub-head">BILLING ADDRESS</h3>
                            <div class="row">
                                <div class="col-md-6 co-form">
                                    <label>Full name <span>*</span></label>
                                    <input type="text" class="form-control input-field">
                                </div>
                                <div class="col-md-6 co-form">
                                    <label>Last name<span>*</span></label>
                                    <input type="password" class="form-control input-field">
                                </div>
                                <div class="col-md-12 co-form">
                                    <label>Company name</label>
                                    <input type="text" class="form-control input-field">
                                </div>
                                <div class="col-md-12 co-form">
                                    <label>Address <span>*</span></label>
                                    <input type="text" class="form-control input-field" placeholder="Street Address">
                                    <input type="text" class="form-control input-field" placeholder="Apartment, suite, unit etc. (opitional)">
                                </div>
                                <div class="col-md-12 co-form">
                                    <label>Town / City <span>*</span></label>
                                    <input type="text" class="form-control input-field" placeholder="Town / City">
                                </div>
                                <div class="col-md-6 co-form half-field">
                                    <label>County <span>*</span></label>
                                    <input type="text" class="form-control input-field" placeholder="e.g. Nairobi, Kiambu e.t.c.(opitional)">
                                </div>
                                <div class="col-md-6 co-form half-field">
                                    <label>Postal Code<span>*</span></label>
                                    <input type="password" class="form-control input-field" placeholder="Postal Code">
                                </div>
                                <div class="col-md-6 co-form half-field">
                                    <label>Email Address <span>*</span></label>
                                    <input type="text" class="form-control input-field">
                                </div>
                                <div class="col-md-6 co-form half-field">
                                    <label>Phone No<span>*</span></label>
                                    <input type="password" class="form-control input-field">
                                </div>
                            </div>

                        </div>
                    </section>
                    <section class="block">
                        <div class="cart-total cart-table order">
                            <div class="cart-head">
                                <h2 class="product">Product</h2>
                                <h2 class="total">Total</h2>
                            </div>
                            <ul>
                                <li><p>Order ID</p><span>7835</span></li>
                                <li><p>Cart Subtotal</p><span>$335</span></li>
                                <li><p>Order Total</p><span>$335</span></li>
                            </ul>
                        </div>
                    </section>

                    <section class="block">
                        <div class="payment">
                            <h2>HOW TO MAKE PAYMENT</h2>
                            <p>1. Go to MPESA Menu</p>
                            <p>2. Select <span>Lipa na MPESA</span> then choose Pay Bill</p>
                            <p>3. Enter Business number <span>288773</span></p>
                            <p>4. Enter the Order ID above as account number.</p>
                            <p>5. Enter Amount to send, MPESA pin and confirm transaction</p>
                            <p>5. Please enter the <span>MPESA Transaction Confirmation code you receive below</span></p>

                        </div>

                        <div class="payment-method">
                            <label >MPESA Confirmation Code </label>
                            <input name="mpesa" class="form-control input-field" type="text" id="mpesa" size="10" value="">
                        </div>

                        <a href="#" title="" class="cart-btn">Confirm Payment</a>
                    </section>


                </div>
            </div>
        </div>


    </div>
</div>
</div>