
<div class="top-image">
	<img src="images/"single-page-top1.jpg" alt="" />
</div>
	
<section class="inner-page">
	<div class="container">
		<div class="page-title">
			<h1>Checkout <span>Page</span></h1>
		</div>
		<div class="row">
			<div class="left-content col-md-9">
				<div class="accordions">
					<div class="accordion_toggle"><a href="#"><span><i class="icon-info-sign"></i></span>Returning customer? Click here to login</a></div>
					<div class="accordion_content" style="display: block;">
						<div class="login">
							<p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>
							<div class="row">
								<div class="col-md-6 co-form half-field">
									<label>Username or email <span>*</span></label>
									<input type="text" class="form-control input-field">
								</div>
								<div class="col-md-6 co-form half-field">
									<label>Password<span>*</span></label>
									<input type="password" class="form-control input-field">
								</div>
							</div>
							<input type="submit" class="cart-btn pull-left" value="Login">
						</div>
					</div>
				

				<section class="block">
					<div class="billing">
						<h3 class="sub-head">BILLING ADDRESS</h3>			
						<div class="row">
							<div class="col-md-12 co-form half-field">
							<label>Cupon Code<span>*</span></label>
								<select class="styled">
								  <option>01</option>
								  <option>02</option>
								  <option>03</option>
								  <option>04</option>
								  <option>05</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 co-form">
								<label>Full name <span>*</span></label>
								<input type="text" class="form-control input-field">
							</div>
							<div class="col-md-6 co-form">
								<label>Last name<span>*</span></label>
								<input type="password" class="form-control input-field">
							</div>
							<div class="col-md-12 co-form">
								<label>Company name</label>
								<input type="text" class="form-control input-field">
							</div>
							<div class="col-md-12 co-form">
								<label>Address <span>*</span></label>
								<input type="text" class="form-control input-field" placeholder="Street Address">
								<input type="text" class="form-control input-field" placeholder="Apartment, suite, unit etc. (opitional)">
							</div>
							<div class="col-md-12 co-form">
								<label>Town / City <span>*</span></label>
								<input type="text" class="form-control input-field" placeholder="Town / City">
							</div>
							<div class="col-md-6 co-form half-field">
								<label>State <span>*</span></label>
								<select class="styled">
								  <option>01</option>
								  <option>02</option>
								  <option>03</option>
								  <option>04</option>
								  <option>05</option>
								</select>
							</div>
							<div class="col-md-6 co-form half-field">
								<label>Zip / Postal Code<span>*</span></label>
								<input type="password" class="form-control input-field" placeholder="Zip / Postal Code">
							</div>
							<div class="col-md-6 co-form half-field">
								<label>Email Address <span>*</span></label>
								<input type="text" class="form-control input-field">
							</div>
							<div class="col-md-6 co-form half-field">
								<label>Phone No<span>*</span></label>
								<input type="password" class="form-control input-field">
							</div>
						</div>
									
						<div class="create-account">
							<div class="form-toggle accordion_toggle">
								<a class="acc-head">Create an Account</a>
							</div>
							<div class="accordion_content" style="display: block;">
								<div class="account-form">
									<p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
								</div>
								<div class="row">
									<div class="col-md-12 co-form half-field">
										<label>Account Username <span>*</span></label>
										<input type="text" class="form-control input-field">
									</div>
									<div class="col-md-6 co-form half-field">
										<label>Account password <span>*</span></label>
										<input type="password" class="form-control input-field">
									</div>
									<div class="col-md-6 co-form half-field">
										<label>Confirm Password<span>*</span></label>
										<input type="password" class="form-control input-field">
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
					<section class="block">
						<div class="cart-total cart-table order">
							<div class="cart-head">
								<h2 class="product">Product</h2>
								<h2 class="total">Total</h2>
							</div>
							<ul>
								<li><p>Cart Subtotal</p><span>$335</span></li>
								<li><p>Shipping </p><span>Free Shipping</span></li>
								<li><p>Order Total</p><span>$335</span></li>
							</ul>
						</div>
					</section>

					<section class="block">
						<div class="payment">
							<ul>
								<li>
									<div class="payment-method">
										<input type="radio" value="bacs" name="payment_method" class="input-radio" id="payment_method_bacs">
										<label for="payment_method_bacs">Direct Bank Transfer </label>
									</div>
									<div class="payment-desc" style="display: block;">
										<span>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order wont be shipped until the funds have cleared in our account.</span>
									</div>
								</li>

								<li>
									<div class="payment-method">
										<input type="radio" value="cheque" name="payment_method" class="input-radio" id="payment_method_cheque">
										<label for="payment_method_cheque">Cheque Payment </label>
									</div>
									<div class="payment-desc" style="display: block;">
										<span>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order wont be shipped until the funds have cleared in our account.</span>
									</div>
								</li>

								<li>
									<div class="payment-method">
										<input type="radio" value="paypal" name="payment_method" class="input-radio" id="payment_method_paypal">
										<label for="payment_method_paypal">PayPal</label>
									</div>
									<div class="payment-desc" style="display: block;">
										<span>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account</span>
									</div>
								</li>
							</ul>
				<section class="block">
					<div class="shipping">
						<h3 class="sub-head">SHIPPING ADDRESS</h3>
							<div class="form-toggle accordion_toggle">
								<a class="ship-head">Ship to billing address</a>
							</div>
							<div class="accordion_content" style="display: block;">
								<div class="row">
									<div class="col-md-12 co-form half-field">
									<label>Cupon Code<span>*</span></label>
										<select class="styled">
										  <option>01</option>
										  <option>02</option>
										  <option>03</option>
										  <option>04</option>
										  <option>05</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 co-form">
										<label>Full name <span>*</span></label>
										<input type="text" class="form-control input-field">
									</div>
									<div class="col-md-6 co-form">
										<label>Last name<span>*</span></label>
										<input type="password" class="form-control input-field">
									</div>
									<div class="col-md-12 co-form">
										<label>Company name</label>
										<input type="text" class="form-control input-field">
									</div>
									<div class="col-md-12 co-form">
										<label>Address <span>*</span></label>
										<input type="text" class="form-control input-field" placeholder="Street Address">
										<input type="text" class="form-control input-field" placeholder="Apartment, suite, unit etc. (opitional)">
									</div>
									<div class="col-md-12 co-form">
										<label>Town / City <span>*</span></label>
										<input type="text" class="form-control input-field" placeholder="Town / City">
									</div>
									<div class="col-md-6 co-form half-field">
										<label>State <span>*</span></label>
										<select class="styled">
										  <option>01</option>
										  <option>02</option>
										  <option>03</option>
										  <option>04</option>
										  <option>05</option>
										</select>
									</div>
									<div class="col-md-6 co-form half-field">
										<label>Zip / Postal Code<span>*</span></label>
										<input type="password" class="form-control input-field" placeholder="Zip / Postal Code">
									</div>
									<div class="col-md-6 co-form half-field">
										<label>Email Address <span>*</span></label>
										<input type="text" class="form-control input-field">
									</div>
									<div class="col-md-6 co-form half-field">
										<label>Phone No<span>*</span></label>
										<input type="password" class="form-control input-field">
									</div>
								</div>

							</div>
							
							<div class="row">
								<div class="col-md-12 co-form">
									<div class="notes">
										<label>Order Notes</label>
										<textarea class="form-control input-field"></textarea>
									</div>
								</div>
							
							</div>
					</div>
				</section>
						
						

						<a href="order-recieved.html" title="" class="cart-btn">Place Order</a>
					</div>
				</section>
				
			</div>
			
			<div class="sidebar col-md-3 pull-right">
				<div class="sidebar-widget">
					<div class="sidebar-search">
						<input class="search" type="text" placeholder="Enter Search Item" />
						<input class="search-button" type="submit" value="" />
					</div>
				</div>
				<div class="sidebar-widget">
					<div class="sidebar-title">
						<h4>Popular <span>Posts</span></h4>
					</div>
					<div class="popular-post">
						<img src="images/"popular-post1.jpg" alt="" />
						<div class="popular-post-title">
							<h6><a href="#" title="">Quisque Sit Amet Unte</a></h6>
							<span>May 3,2013 / 02 comments</span>
						</div>
					</div>
					<div class="popular-post">
						<img src="images/"popular-post2.jpg" alt="" />
						<div class="popular-post-title">
							<h6><a href="#" title="">Quisque Sit Amet Unte</a></h6>
							<span>May 3,2013 / 02 comments</span>
						</div>
					</div>

				</div>
				<div class="sidebar-widget">
					<div class="sidebar-title">
						<h4>Meta <span>Data</span></h4>
					</div>
					<ul class="sidebar-list">
						<li><a href="#" title="">Blog</a></li>
						<li><a href="#" title="">Creative</a></li>
						<li><a href="#" title="">Powerful</a></li>
						<li><a href="#" title="">Clean</a></li>
					</ul>
				</div>
				<div class="sidebar-widget">
					<div class="sidebar-title">
						<h4>Tags <span>Clouds</span></h4>
					</div>
					<div class="cloud-tags">
						<a href="#" title="">Uncategorized</a>
						<a href="#" title="">Susipit</a>
						<a href="#" title="">Diam</a>
						<a href="#" title="">Diam</a>
						<a href="#" title="">Susipit</a>
						<a href="#" title="">Diam</a>
						<a href="#" title="">Susipit</a>
						<a href="#" title="">Uncategorized</a>
						<a href="#" title="">Susipit</a>
					</div>
				</div>
				<div class="sidebar-widget">
					<div class="sidebar-title">
						<h4>Category <span>List</span></h4>
					</div>
					<ul class="sidebar-list">
						<li><a href="#" title="">Blog (6)</a></li>
						<li><a href="#" title="">Colourful (5)</a></li>
						<li><a href="#" title="">Feature (2)</a></li>
						<li><a href="#" title="">Nature (7)</a></li>
						<li><a href="#" title="">Scenery(3)</a></li>
						<li><a href="#" title="">Uncategorized(1)</a></li>
					</ul>
				</div>
				<div class="sidebar-widget">
					<div class="sidebar-title">
						<h4>Video <span>Widget</span></h4>
					</div>
					<div class="sidebar-video">
						<img src="images/"sidebar-video.jpg" alt="" />
						<h6>Quisque Sit Amet Unte</h6>
						<span><a class="html5lightbox" href="http://player.vimeo.com/video/31943945?color=ffffff" title="This Is a Demo Video"><i class="icon-play"></i></a></span>
					</div>
				</div>
				<div class="sidebar-widget">
					<div class="sidebar-title">
						<h4>Gallery <span>Widget</span></h4>
					</div>
					<div class="gallery row">
						<div class="col-md-4">
							<a href="images/blank-image.jpg" class="html5lightbox" title=""><img src="images/"gallery1.jpg" alt="" /></a>
						</div>
						<div class="col-md-4">
							<a href="images/blank-image.jpg" class="html5lightbox" title=""><img src="images/"gallery2.jpg" alt="" /></a>
						</div>
						<div class="col-md-4">
							<a href="images/blank-image.jpg" class="html5lightbox" title=""><img src="images/"gallery3.jpg" alt="" /></a>
						</div>
						<div class="col-md-4">
							<a href="images/blank-image.jpg" class="html5lightbox" title=""><img src="images/"gallery4.jpg" alt="" /></a>
						</div>
						<div class="col-md-4">
							<a href="images/blank-image.jpg" class="html5lightbox" title=""><img src="images/"gallery5.jpg" alt="" /></a>
						</div>
						<div class="col-md-4">
							<a href="images/blank-image.jpg" class="html5lightbox" title=""><img src="images/"gallery6.jpg" alt="" /></a>
						</div>
					
					</div>
				</div>
				
			</div>
		</div>
	</div>


</section>
</div>

