<div id="layerslider-container-fw">
    <div id="layerslider" style="width: 100%; height: 450px; margin: 0px auto; ">
        <div class="ls-slide" data-ls="transition3d:53; timeshift:-1000;">
            <img src="http://images.webinane.com/ll/slider1.jpg" class="ls-bg" alt="Slide background">
        </div><!-- Slide1 -->
        <div class="ls-slide" data-ls="transition3d:53; timeshift:-1000;">
            <img src="http://images.webinane.com/ll/slider1.jpg" class="ls-bg" alt="Slide background">
        </div><!-- Slide1 -->
    </div>
</div><!-- Layer Slider -->
<section class="inner-page">
    <div class="container">
        <div class="page-title">
            <h1>Image <span>Gallery</span></h1>
        </div><!-- Page Title -->
        <ul class="gallery-tabs nav nav-tabs" id="myTab">
            <li class="active"><a data-toggle="tab" href="#events">EVENTS</a></li>
            <li class=""><a data-toggle="tab" href="#volunteers">VOLUNTEERS</a></li>
            <li class=""><a data-toggle="tab" href="#shujaa">MASHUJAA</a></li>
            <li class=""><a data-toggle="tab" href="#drive">DRIVES</a></li>
            <!--<li class=""><a data-toggle="tab" href="#featured">FEATURED</a></li>-->
        </ul><!-- Selectors -->
        <div class="gallery-content tab-content" id="myTabContent">
            <div id="events" class="tab-pane fade active in">
                <div class="row">
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-1.jpg" alt="" />
                            <span>GALLERY / EVENTS</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a class="html5lightbox" href="images/blank-image.jpg" data-group="group1" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a class="html5lightbox" href="images/blank-image.jpg" data-group="group1" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                    <li><a class="html5lightbox" href="images/blank-image.jpg" data-group="group1" title=""><img src="images/"list3.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - PARTICIPANTS DAY 1</a></h3>
                    </div>
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-2.jpg" alt="" />
                            <span>GALLERY / EVENTS</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a class="html5lightbox" href="images/blank-image.jpg" data-group="group2" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a class="html5lightbox" href="images/blank-image.jpg" data-group="group2" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - PARTICIPANTS DAY 2</a></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-3.jpg" alt="" />
                            <span>GALLERY / EVENTS</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group3" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group3" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group3" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group3" title=""><img src="images/"list3.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - LUMINARIA CEREMONY</a></h3>
                    </div>
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-4.jpg" alt="" />
                            <span>GALLERY / EVENTS</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group4" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group4" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group4" title=""><img src="images/"list3.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - OPENING CEREMONY</a></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-6.jpg" alt="" />
                            <span>GALLERY / EVENTS</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group6" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group6" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group6" title=""><img src="images/"list3.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group6" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - PLANNING</a></h3>
                    </div>
                </div>
            </div><!-- Events -->
            <div id="volunteers" class="tab-pane fade in">
                <div class="row">
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-3.jpg" alt="" />
                            <span>GALLERY / VOLUNTEERS</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group7" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group7" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group7" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group7" title=""><img src="images/"list3.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - VOLUNTEERS</a></h3>
                    </div>
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-6.jpg" alt="" />
                            <span>GALLERY / VOLUNTEERS</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group8" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group8" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group8" title=""><img src="images/"list3.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group8" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - TRAINING</a></h3>
                    </div>
                </div>
            </div><!-- Workers -->
            <div id="shujaa" class="tab-pane fade in">
                <div class="row">
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-1.jpg" alt="" />
                            <span>GALLERY / MASHUJAA</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group11" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group11" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group1" title=""><img src="images/"list3.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - MACHAKOS CANCER WARRIORS </a></h3>
                    </div>
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-5.jpg" alt="" />
                            <span>GALLERY / MASHUJAA</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group12" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group12" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - MASHUJAA LAP</a></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-6.jpg" alt="" />
                            <span>GALLERY / MASHUJAA</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group13" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group13" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group13" title=""><img src="images/"list3.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group13" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - MASHUJAA</a></h3>
                    </div>
                </div>

            </div><!-- Mashujaa -->

            <div id="drive" class="tab-pane fade in">
                <div class="row">
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-2.jpg" alt="" />
                            <span>GALLERY / DRIVES</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group9" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group9" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="images/blank-image.jpg" class="html5lightbox" title="">RELAY 2014 - CHURCH OUTREACH</a></h3>
                    </div>
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-4.jpg" alt="" />
                            <span>GALLERY / DRIVES</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group9" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group9" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group9" title=""><img src="images/"list3.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - SCHOOL OUTREACH</a></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="gallery-image">
                            <img src="images/"gallery-2column-5.jpg" alt="" />
                            <span>GALLERY / DRIVES</span>
                            <div class="image-lists">
                                <ul>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group10" title=""><img src="images/"list1.jpg" alt="" /></a></li>
                                    <li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group10" title=""><img src="images/"list2.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="image-title"><a href="#" title="">RELAY 2014 - COMMUNITY OUTREACH</a></h3>
                    </div>
                </div>
            </div><!-- Drives -->
            <!--<div id="featured" class="tab-pane fade in">-->
            <!--<div class="row">-->
            <!--<div class="col-md-6">-->
            <!--<div class="gallery-image">-->
            <!--<img src="images/"gallery-2column-1.jpg" alt="" />-->
            <!--<span>GALLERY / FEATURED</span>-->
            <!--<div class="image-lists">-->
            <!--<ul>-->
            <!--<li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group14" title=""><img src="images/"list1.jpg" alt="" /></a></li>-->
            <!--<li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group14" title=""><img src="images/"list2.jpg" alt="" /></a></li>-->
            <!--<li><a href="images/blank-image.jpg" class="html5lightbox" data-group="group14" title=""><img src="images/"list3.jpg" alt="" /></a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--<h3 class="image-title"><a href="#" title="">Countries with the most billionair</a></h3>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>	&lt;!&ndash; Featured &ndash;&gt;	  -->

        </div>
    </div>


</section>
</div>