
<div id="layerslider-container-fw">
	<div id="layerslider" style="width: 100%; height: 450px; margin: 0px auto; ">
		<div class="ls-slide" data-ls="transition3d:53; timeshift:-1000;">			
			<img src="" class="ls-bg" alt="Slide background">
		</div><!-- Slide1 -->
		<div class="ls-slide" data-ls="transition3d:53; timeshift:-1000;">			
			<img src="" class="ls-bg" alt="Slide background">
		</div><!-- Slide1 -->
	</div>
</div><!-- Layer Slider -->			
	
<section class="inner-page">
	<div class="container">
			<div class="page-title">
				<h1>Gallery <span>2 Column</span></h1>
			</div><!-- Page Title -->
			<div class="gallery-content">
					<div class="row">
						<div class="col-md-6">
							<div class="gallery-image">
								<img src="images/"gallery-2column-1.jpg" alt="" />
								<span>GALLERY / EVENTS</span>
								<div class="image-lists">
									<ul>
										<li><a class="video-popup html5lightbox" href="http://player.vimeo.com/video/32537141" data-group="group1" title=""></a></li>
									</ul>
								</div>
							</div>
							<h3 class="image-title"><a href="#" title="">Countries with the most billionair</a></h3>
						</div>
						<div class="col-md-6">
							<div class="gallery-image">
								<img src="images/"gallery-2column-2.jpg" alt="" />
								<span>GALLERY / EVENTS</span>
								<div class="image-lists">
									<ul>
										<li><a class="video-popup html5lightbox" href="http://player.vimeo.com/video/32537141" data-group="group1" title=""></a></li>
									</ul>
								</div>
							</div>
							<h3 class="image-title"><a href="#" title="">Viennese Charity Ball in Moscow</a></h3>
						</div>
						<div class="col-md-6">
							<div class="gallery-image">
								<img src="images/"gallery-2column-3.jpg" alt="" />
								<span>GALLERY / EVENTS</span>
								<div class="image-lists">
									<ul>
										<li><a class="video-popup html5lightbox" href="http://player.vimeo.com/video/32537141" data-group="group1" title=""></a></li>
									</ul>
								</div>
							</div>
							<h3 class="image-title"><a href="#" title="">The Ultimate Water Slide Fails Compilation</a></h3>
						</div>
						<div class="col-md-6">
							<div class="gallery-image">
								<img src="images/"gallery-2column-4.jpg" alt="" />
								<span>GALLERY / EVENTS</span>
								<div class="image-lists">
									<ul>
										<li><a class="video-popup html5lightbox" href="http://player.vimeo.com/video/32537141" data-group="group1" title=""></a></li>
									</ul>
								</div>
							</div>
							<h3 class="image-title"><a href="#" title="">National Charity Title Incorporated</a></h3>
						</div>
						<div class="col-md-6">
							<div class="gallery-image">
								<img src="images/"gallery-2column-5.jpg" alt="" />
								<span>GALLERY / EVENTS</span>
								<div class="image-lists">
									<ul>
										<li><a class="video-popup html5lightbox" href="http://player.vimeo.com/video/32537141" data-group="group1" title=""></a></li>
									</ul>
								</div>
							</div>
							<h3 class="image-title"><a href="#" title="">Viennese Charity Ball in Moscow</a></h3>
						</div>
						<div class="col-md-6">
							<div class="gallery-image">
								<img src="images/"gallery-2column-6.jpg" alt="" />
								<span>GALLERY / EVENTS</span>
								<div class="image-lists">
									<ul>
										<li><a class="video-popup html5lightbox" href="http://player.vimeo.com/video/32537141" data-group="group1" title=""></a></li>
									</ul>
								</div>
							</div>
							<h3 class="image-title"><a href="#" title="">Countries with the most billionair</a></h3>
						</div>
					</div>
			</div>
	</div>


</section>
</div>

