
<div class="top-image">
	<img src="images/"single-page-top3.jpg" alt="" />
</div><!-- Page Top Image -->
	
<section class="inner-page">
	<div class="container">
		<div class="row">
			<div class="profile-page">
				<div class="col-md-6">
					<div class="tab-content profile-tabs-content" id="myTabContent">
						<div id="profile-pic1" class="tab-pane fade in active">
							<img src="images/"profile1.jpg" alt="" />
						</div>
						<div id="profile-pic2" class="tab-pane fade in">
							<img src="images/"profile2.jpg" alt="" />
						</div>
						<div id="profile-pic3" class="tab-pane fade in">
							<img src="images/"profile3.jpg" alt="" />
						</div>
					</div>					
					
					
					<ul class="nav nav-tabs profile-tabs" id="myTab">
						<li class="active"><a data-toggle="tab" href="#profile-pic1"><img src="images/"profile4.jpg" alt="" /></a></li>
						<li><a data-toggle="tab" href="#profile-pic2"><img src="images/"profile5.jpg" alt="" /></a></li>
						<li><a data-toggle="tab" href="#profile-pic3"><img src="images/"profile6.jpg" alt="" /></a></li>
					</ul>					
				</div>
				<div class="col-md-6">
					<h1><i class="icon-user"></i>What Is Relay?</h1>

					<p>Every Relay For Life event is made up of volunteers forming teams to spend 24-hours together around the track raising money to eradicate cancer. Teams can be made up of friends, families, co-workers, religious groups, classmates, and neighbours. Every team brings its own special energy to the event by hosting on-site fundraisers, creating campsites, and enjoying each other's company while educating the community about cancer prevention. The event gives each community the opportunity to create their own celebration, from Sydney, Australia to Nairobi, Kenya. We gather with a common cause, to support the Kenya Cancer Association through Relay For Life
					</p>
					<br>
					</div>

				<div class="col-md-6">
					<h1><i class="icon-user"></i>Why Do we Fundraise?</h1>

					<p>With your help, we aren't just fighting one type of cancer we're fighting for every birthday threatened by every cancer in every community. Each person who shares the Relay For Life experience can take pride in knowing that they are working to create a world where this disease will no longer threaten our loved ones or rob anyone of another birthday.
					</p>
				</div>

				<div class="join-team">
					<div class="col-md-12">
						<h2>Who will you Relay For?</h2>
						<p>While the Kenya Cancer Association is making progress toward a world without cancer, only with your dedication and fundraising efforts can we finish the fight against the disease.</p>
						<a href="#" title="">Get Involved Now</a>
					</div>
				</div>
			</div>
		</div>	
	</div>	
		
	
</section>
</div>
